<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>

<div id="invitation" class="container">
  <h1>Invite</h1>
  <div class="content">
    <div>
      <%= form_tag messages_path do |f| %>
        <p>
          <%= label_tag :provider, 'Identity Provider' %>
          <%= select_tag :provider, options_for_select(['Google', 'Twitter']), prompt: "Select an indentity provider" %>
          <%= label_tag :name, 'Name: ' %>
          <%= text_field_tag :name %>
        </p>
        <p>
          <%= submit_tag "Send" %>
          <!-- The following button trick doesn't work for <= IE8 -->
          <%= link_to '<button type="button">Cancel</button>'.html_safe, :back %>
        </p>
      <% end %>
    </div>
    <div float="right">
      <p>
        Find out from the user to whom you wish to connect, 
        which of the identity providers they use to log in,
        and what their user name is. They can find this out
        on their profile page.
      </p>
      <p>
        Select their identity provider and fill in their
        name, then click 'Send'.
      </p>
      <p>
        We do it this way to reduce the chance of spam, or
        phishing attempts to gain access to someone else's
        data in the clean routines app.
    </div>
  </div>
</div>
