<%= bootstrap_form_for [@person, @routine], local: true do |rf| %>
  <%= rf.hidden_field :person_id %>
  <p>
    <%= rf.text_field :name, label: "Routine Name" %>
    <%= rf.select :goal_id, @routine.person.goals.collect {|g| [ g.name, g.id ] } %>
  </p>

  <h2>Expectations</h2>
  <%= rf.fields :expectations do |builder| %>
    <%= render "expectation_fields", f: builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Expectation", rf, :expectations %></p>

  <p>
    <%= link_to "Cancel", where_we_came_from_url(person_path(@routine.person)), class: "btn btn-secondary" %>
    <%= rf.submit 'Save' %>
  </p>
<% end %>
