<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div class="routines">
  <h2>Routines</h2>
  <table class="grow_child_to_parent">
    <tbody>
      <%= content_tag_for(:tr, @person.routines) do |routine| %>
        <td><%= routine.name %></td>
        <td style="text-align: right;"><%= link_to('Edit', edit_routine_path(routine)) %></td>
        <td style="text-align: right;"><%= link_to('New Observations', new_completed_routine_path(routine_id: routine.id)) %></td>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to 'New Routine', new_routine_path(person: @person.attributes), class: "button" %></p>
</div>

