<div id="routine" class="container">
	<h1><%= "#{@routine.name} -- #{@routine.person.short_name}" %></h1>
	<h2>Expectations</h2>
	<table>
		<thead>
			<tr>
				<th>Expectation</th>
			</tr>
		</thead>
		<tbody>
			<% @routine.expectations.each do |e| %>
			<tr>
				<td><%= e.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<% if @routine.goal %>
	<% g = @routine.goal %>
	<h2>Goal</h2>
	<p>
		<%= "#{g.name}: With #{g.target.to_s} clean #{'routine'.pluralize(g.target)}, #{g.description}" %>
		<%= "Shared with #{g.routines.count} other #{'routines'.pluralize(g.routines.count)}." %>
	</p>
<% end %>
	<!-- The following button trick doesn't work for <= IE8 -->
	<p><%= link_to '<button type="button">Back</button>'.html_safe, :back %></p>
</div>
