<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="person_edit" class="container">
  <div class="content">
    <%= form_for @person do |pf| %>
      <%= pf.hidden_field :creator_id %>
      <p><%= pf.label :name %><%= pf.text_field :name %></p>
      <p>
        <%= link_to '<button type="button">Cancel</button>'.html_safe, :back %>
        <%= pf.submit 'Save' %>
      </p>
    <% end %>
    
    <div>
      <h2>Routines</h2>
      <table>
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <%= content_tag_for(:tr, @person.routines) do |r| %>
            <td><%= r.name %></td>
            <td><%= link_to "Edit", edit_routine_path(r) %></td>
          <% end %>
        </tbody>
      </table>
      <p><%= link_to '<button type="button">Add Routine</button>'.html_safe, new_routine_path(person: @person.attributes) %>
    <div>
  </div>
</div>
