<div id="person_edit" class="container">
  <%= bootstrap_form_for @person do |pf| %>
    <%= pf.hidden_field :creator_id %>
    <%= pf.text_field :name, help: "Typically this should be the name of the person the team is working with." %>
    <%= pf.text_field :short_name, help: "Choose a short name that identifies the person to you and the rest of the team, but won't necessarily identify the person to anyone else. This is so you don't have to worry about people identifying the person by looking over your shoulder." %>

    <% if @person.persisted? %>
    <%= link_to 'New Routine', new_routine_path(person: @person.attributes) %>
    <%= link_to 'New Goal', new_person_goal_path(@person.id) %>
    <% end %>

    <h2>Subject</h2>
    <%# The team are users who are connected to the patient. %>
      <%# You can delete team members that you can't add back in. %>
        <ul class="list-group">
          <%= pf.collection_check_boxes(:users, (current_user.users + @person.users).uniq, :id, :name, checked: @person.users.map(&:id), help: "Check the boxes beside your connections that you want to have working on this team.") do |cb| %>
          <li class="list-group-item">
            <%= cb.check_box(hidden: current_user == cb.object) %>
            <%= cb.label(hidden: current_user == cb.object) %>
          </li>
        <% end %>
      </ul>

      <p>
        <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
        <%= pf.submit 'Save' %>
      </p>
  <% end %>
</div>
