<div id="person_edit">
  <%= bootstrap_form_for @person do |pf| %>
  <%= pf.hidden_field :creator_id %>
  <%= pf.text_field :name %>
  <%= pf.text_field :short_name,
                    help: "A name that identifies the person to anyone working with them, but won't identify the person to anyone else. This is so you don't have to worry about people identifying the person by looking over your shoulder." %>

  <%= render "routines_with_edit" %>
  <%= render "goals_with_edit" %>

  <!-- The team are users who are connected to the patient. -->
  <ul class="list-group">
    <%= pf.collection_check_boxes(:caregiver_ids,
                                  (current_user.users + @person.caregivers).uniq,
                                  :id,
                                  :name,
                                  checked: @person.caregivers.map(&:id),
                                  help: "Check the boxes beside your connections that you want to allow to work with this person.",
                                  label: "Team",
                                  wrapper_class: "mt-2") do |cb| %>
    <li class="list-group-item">
      <%= cb.check_box(hidden: current_user == cb.object) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
  <%= pf.submit 'Save' %>
</p>
<% end %>
</div>
