<h1><%= patient.name %></h1>
<div class="routines content">
  <h2>Routines</h2>
  <table class="grow_child_to_parent">
    <tbody>
      <%= content_tag_for(:tr, patient.routines) do |routine| %>
        <td><%= link_to(routine.name, routine_path(routine)) %></td>
        <td style="text-align: right;"><%= link_to('Add New', new_completed_routine_path(routine_id: routine.id)) %></td>
      <% end %>
    </tbody>
  </table>
</div>
<div class="content pending_rewards">
<h2>Rewards</h2>
  <% if 0 < patient.goals.count %>
    <table>
      <thead>
        <th>Name</th><th style="width:6em;">Target</th><th style="width:6em;">Eligible Rewards</th><th>Action</th>
      </thead>
      <tbody>
        <%= content_tag_for(:tr, patient.goals) do |g| %>
          <td><%= g.name %></td>
          <td style="text-align: right;"><%= g.target.to_s %></td>
          <td style="text-align: right;"><%= g.pending %></td>
          <td style="text-align: right;"><%= link_to("Give award", new_award_path(goal_id: g.id)) if g.pending > 0 %></td>
        <% end %>
      </tbody>
    </table>
  <% else %>
    No goals assigned.
  <% end %>
</div>
<%= render partial: "completed_routines/completed_routines", locals: { patient: patient } %>

