<div id="completed_routines">
  <div id="patient-name" class="container">
    <h3>Recently Completed Routines for <%= @person.name %></h3>
    <div class="completed_routines content">
      <div style="overflow:auto">
        <table>
          <thead>
            <tr>
              <th rowspan="2">Routine</th>
              <th rowspan="2">Expectation</th>
              <%= month_heading %></tr>
            <tr><%= day_heading %></tr>
          </thead>
          <tbody>
          <% @person.routines.order(name: :asc).each do |r| %>
            <%# Loop on expectations %>
            <%= r.expectations.each do |e| %>
            <tr>
              <td><%= r.name %></td>
              <td><%= e.description %></td>
              <%# Loop on Dates %>
              <% @detail_columns.each do |day, cols| %>
              <%# Loop on completed expectations within the date %>
              <% ces = @person.completed_expectations_for_day_and_expectation(e, day) %>
              <% ces.each do |ce| %>
              <td style="text-align:center"><%= ce.observation %></td>
              <% end %>
              <%# if fewer completed expectations than needed, output empty column(s) %>
              <%= (cols - ces.count).times.reduce("") { |sum, x| sum + "<td></td>"}.html_safe %>
              <% end %>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- The following button trick doesn't work for <= IE8 -->
      <p><%= link_to '<button type="button">Back</button>'.html_safe, :back %></p>
    </div>
  </div>
</div>
