<div id="patients">
  <h4>
    <%= @person.short_name %>
    <%= link_to edit_person_path(@person), class: "btn", "aria-label": "Edit Subject", title: "Edit Subject" do %>
    <%= octicon "pencil" %>
    <% end %>
  </h4>
  <%= render partial: "routines/index" %>
  <%= render partial: "goals/index" %>
  <%= render partial: "completed_routines/index" %>
  <h4>
    <%= link_to "Reports", reports_person_path(@person) %>
  </h4>
</div>
