<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<%= content_tag_for(:div, @person, data: {role: "page", url: "#{request.fullpath}"} ) do %>
  <div  data-role="header">
    <%= link_to "Back", :back, data: {role: :button, rel: :back, icon: :back, iconpos: :notext} %>
    <h1><%= @person.name %></h1>
    <%= link_to "Settings", "#settings", "data-role" => "button", "data-icon" => "gear", "data-iconpos" => "notext", class: "ui-btn-right" %>
  </div>

  <div role="main" class="ui-content">
    <%= render partial: "routines/index", formats: ["html"] %>
    <%= render partial: "goals/index", formats: ["html"] %>
    <%= render partial: "completed_routines/index", formats: ["html"] %>
  </div>
<% end %>

<%= render "users/settings" %>

