<ul class="list-group">
  <%= content_tag_for(:li, @user.subjects, class: "list-group-item") do | patient | %>
    <%= link_to person_path(patient) do %>
      <%= patient.short_name %>
      <%= octicon "chevron-right", class: "h-100 float-right" %>
    <% end %>
  <% end %>
  <li class="list-group-item">
    <%= link_to new_person_path do %>
      New Team
      <%= octicon "plus", class: "h-100 float-right" %>
    <% end %>
  </li>
</ul>
