<div id="user">
  <h1>Your Profile</h1>
  <h2>Identity</h2>
  <%= bootstrap_form_for(@user) do |f| %>
  <!-- TODO: Rationalize error handling. Need something for base errors. -->
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="even_row">
  <%= f.text_field :id, readonly: "readonly", label: "Unique User ID", help: "This is the information you have to send to someone else so that they can invite you to connect." %>
  </div>

  <p>
    Identity Provider:
    <%= User.inverse_provider(f.object.provider) %>
    <br/>
    Name:
    <%= f.object.name %>
  </p>

  <h2>Preferences</h2>
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, selected: @user.time_zone %>

  <div class="actions">
    <%= link_to "Cancel", :back, class: "btn btn-secondary" %>
    <%= f.submit "Update Profile" %>
  </div>
  <% end %>

  <div id="people">
    <h2>Linked People</h2>
    <table>
      <tbody>
        <%= content_tag_for(:tr, @user.users) do |other| %>
        <td><%= other.name %></td>
        <td><%= link_to("Unlink", link_path(@user.link_to!(other)), method: :delete, class: "btn btn-secondary btn-sm") %></td>
        <% end %>
      </tbody>
    </table>
    <p>
      <%= link_to "Invite a User to Link Up", new_invitation_path, class: "btn btn-secondary" %>
    </p>
  </div>
</div>
