<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>

<div id="user" class="container">
  <h1>Your Profile</h1>
</div>
<% content_for :content do %>
  <div class="container">
    <div class="content">
      <h2>Identity</h2>
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="even_row">
          <div class="left" style="width:48%;">
            <p>
              <%= f.label :id, "Unique User ID: " %>
              <%= f.text_field :id, readonly: "readonly", size: 12 %>
            </p>
          </div>
          <div class="right" style="width:48%;">
            <p>
              This is the information you have to send to someone else so that they
              can invite you to connect. 
            </p>
          </div>
          <div class="clear">
          </div>
        </div>

        <p>
          Identity Provider: <%= User.inverse_provider(f.object.provider) %>
          <br/>
          Name: <%= f.object.name %>
        </p>
        
        <h2>Preferences</h2>
        <div class="field">
          <p>
            <%= f.label :time_zone %>
            <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, selected: @user.time_zone %>
          </p>
        </div>
        
        <div class="actions">
          <p>
            <!-- The following button trick doesn't work for <= IE8 -->
            <%= link_to '<button type="button">Cancel</button>'.html_safe, :back %>
            <%= f.submit "Update Profile" %>
          </p>
        </div>
      <% end %>
        
      <div id="people">
        <h2>Linked People</h2>
        <table>
          <tbody>
            <%= content_tag_for(:tr, @user.users) do |other| %>
              <td><%= other.name %></td>
              <td><%= link_to( "Unlink", link_path(@user.link_to!(other)), method: :delete) %></td>
            <% end %>
          </tbody>
        </table>
        <p>
          <%= link_to '<button type="button">Invite a User to Link Up</button>'.html_safe, 
            new_message_path(message_type: "invitation") %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<%= render partial: "layouts/with_messages" %>

