<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="home" title="<%= title || 'Clean Routines' %>" data-role="page" data-url="<%= request.fullpath %>">

  <div  data-role="header">
    <h1>Clean Routines</h1>
    <%= link_to "Settings", "#settings", "data-role" => "button", "data-icon" => "gear", "data-iconpos" => "notext", class: "ui-btn-right" %>
  </div>

  <div role="main" class="ui-content">
    <% unless flash.empty? %>
      <div class="info">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      </div>
    <% end %>
    <ul data-role="listview">
      <% @user.patients.each do | patient | %>
        <li><%= link_to(patient.name, person_path(patient), data: { ajax: false }) %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= render "users/settings" %>

