<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<%# With iui, we put the toolbar in here, *not* in the template.
When you link to another page, the toolbar handling gets messed
up if you define another toolbar when one is in place already.
%>
<div id="home" title="PBS" data-role="page">

  <div  data-role="header">
    <h1>PBS</h1>
    <%= link_to "Settings", "#settings", "data-role" => "button", "data-icon" => "gear", "data-iconpos" => "notext", class: "ui-btn-right" %>
  </div>

  <div role="main" class="ui-content">
    <% unless flash.empty? %>
      <div class="info">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      </div>
    <% end %>
    <ul data-role="listview">
      <% @user.patients.each do | patient | %>
        <li><%= link_to patient.name, "#person_#{patient.id}" %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= content_tag_for(:div, @user.patients, "data-role" => "page") do | patient | %>
  <div  data-role="header">
    <%= link_to "", :back, "data-role" => "button", "data-rel" => "back", "data-icon" => "back", "data-iconpos" => "notext" %>
    <h1><%= patient.name %></h1>
    <%= link_to "Settings", "#settings", "data-role" => "button", "data-icon" => "gear", "data-iconpos" => "notext", class: "ui-btn-right" %>
  </div>

  <div role="main" class="ui-content">
    <h3 class="group">Routines</h3>
    <ul data-role="listview">
      <%= content_tag_for(:li, patient.routines) do |routine| %>
        <div style="float:left;"><%= routine.name %></div>
        <div style="float:right;">
          <%= link_to('', new_completed_routine_path(routine_id: routine.id), "data-role" => "button", "data-icon" => "plus", "data-iconpos" => "notext", "data-ajax" => "false") %>
        </div>
        <div style="clear:both;"></div>
      <% end %>
    </ul>

    <h3>Goals and Rewards</h3>
    <ul data-role="listview">
      <%= content_tag_for(:li, patient.goals) do |g| %>
        <div style="float:left;"><%= g.name %></div>
        <div style="float:right;">
          <%= link_to("Give award", new_award_path(goal_id: g.id), "data-role" => "button", "data-icon" => "plus", "data-iconpos" => "notext", "data-ajax" => "false") if g.pending > 0 %>
        </div>
        <div style="clear:both;"></div>
      <% end %>
    </ul>

    <h3>Recently Completed Routines</h3>
    <table data-role="table" id="completed_routines" data-mode="reflow" class="ui-responsive">
      <thead>
        <tr>
          <th data-priority="1">Routine</th>
          <th data-priority="2">When</th>
        </tr>
      </thead>
      <% rows_to_show = 5 %>
      <tbody>
        <% patient.completed_routines.most_recent(rows_to_show).each do |cr| %>
          <tr style="background-color:<%= cr.is_clean? ? "#CCFF99" : "#FFFF99" %>;">
            <td><%= cr.name %></td>
            <td><%= cr.created_at.to_s(:humanized_ago) %></td> 
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<div id="settings" title="Settings" data-role="page">
  <div  data-role="header">
    <%= link_to "", :back, "data-role" => "button", "data-rel" => "back", "data-icon" => "back", "data-iconpos" => "notext" %>
    <h1>Settings</h1>
  </div>

  <ul data-role="listview">
    <li><%= link_to "Sign out", signout_path, "data-ajax" => "false" %></li>
    <li><%= link_to "Full Site", root_url(:mobile => 0), "data-ajax" => "false" %></li>
  </ul>
</div>

