<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="home" title="PBS" selected="true">
  <div id="user-name" class="container">
    <h1><%= @user.name %></h1>
  </div>
  <div style="display:inline;float:left;width:60%;">
    <div id="patients">
      <%= content_tag_for(:div, @user.patients, class: "container") do | patient | %>
        <h1><%= patient.name %></h1>
        <div class="routines content">
          <h2>Routines</h2>
          <table class="grow_child_to_parent">
            <tbody>
              <%= content_tag_for(:tr, patient.routines) do |routine| %>
                <td><%= link_to(routine.name, routine_path(routine)) %></td>
                <td style="text-align: right;"><%= link_to('Add New', new_completed_routine_path(routine_id: routine.id)) %></td>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="content pending_rewards">
        <h2>Rewards</h2>
          <% if 0 < patient.goals.count %>
            <table>
              <thead>
                <th>Name</th><th style="width:6em;">Target</th><th style="width:6em;">Eligible Rewards</th><th>Action</th>
              </thead>
              <tbody>
                <%= content_tag_for(:tr, patient.goals) do |g| %>
                  <td><%= g.name %></td>
                  <td style="text-align: right;"><%= g.target.to_s %></td>
                  <td style="text-align: right;"><%= g.pending %></td>
                  <td style="text-align: right;"><%= link_to("Give award", new_award_path(goal_id: g.id)) if g.pending > 0 %></td>
                <% end %>
              </tbody>
            </table>
          <% else %>
            No goals assigned.
          <% end %>
        </div>
        <div class="content completed_routines">
          <% rows_to_show = 5 %>
          <h2>Recently Completed Routines</h2>
          <% if 0 < patient.completed_routines.count %>
            <table>
              <thead>
                <th>Routine</th><th>Clean?</th><th>Date</th>
              </thead>
              <tbody>
              <%= content_tag_for(:tr, patient.completed_routines.most_recent(rows_to_show)) do |cr| %>
                <td><%= cr.name %></td>
                <td style="text-align: center;"><%= cr.is_clean?.humanize %></td>
                <td style="text-align: right;"><%= cr.created_at.to_s(:humanized_ago) %></td> 
              <% end %>
              </tbody>
            </table>
            <% if rows_to_show < patient.completed_routines.size %>
              <p><%= link_to("More...", completed_routines_path(person_id: patient.id)) %></p>
            <% end %>
          <% else %>
            No recently completed routines.
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div style="display:bl;float:right;width:35%;">
    <div class="container">
      <div id="messages">
        <h1>Messages</h1>
        <div class="content">
          <%= render(partial: "messages/message", 
            collection: @user.unread_messages.order(created_at: :desc), 
            spacer_template: "messages/message_spacer") || "No unread messages" %>
        </div>
      </div>
    </div>
  </div>
  <div style="clean:both;"></div>
</div>
