<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="home" title="<%= title || 'Clean Routines' %>" data-role="page" data-url="<%= request.fullpath %>">

  <div  data-role="header">
    <h1>Clean Routines</h1>
    <%= link_to "Settings", "#settings", data: {role: "button", icon: "gear", iconpos: "notext"}, class: "ui-btn-right" %>
  </div>

  <%= render partial: "teams", formats: ["html"] %>
</div>

<%= render "users/settings" %>

