<div id="user-name">
  <h1><%= @user.name %></h1>
</div>
<div id="patients">
  <%= content_tag_for(:div, @user.patients) do | patient | %>
    <h1><%= patient.name %></h1>
    <h2>Routines</h2>
    <% patient.routines.each do |routine| %>
      <p>
        <%= routine.name %>
        <%= link_to('Add New', new_completed_routine_path(routine_id: routine.id)) %>
      </p>
    <% end %>
    <h2>Rewards</h2>
    <table id="pending_rewards">
      <thead>
        <th>Name</th><th>Description</th><th>Target</th><th>Eligible Rewards</th>
      </thead>
      <tbody>
        <%= content_tag_for(:tr, patient.goals) do |rd| %>
          <td><%= rd.name %></td><td><%= rd.description %></td><td><%= rd.target.to_s %></td><td><%= rd.pending %></td>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<div id="users">
  <h1>Connections</h1>
  <% @user.users.each do | user | %>
    <p><%= user.name %></p>
  <% end %>
</div>
