<%= validation_messages @completed_routine %>


<%# The next two are to handle mobile devices. Sure wish I had my head around this better. %>
<%= yield :heading_buttons if content_for? :heading_buttons %>
<%= yield :flashes if content_for? :flashes %>
<%#= @completed_routine.inspect %>
<%#= "TIME: #{@completed_routine.routine_done_at&.strftime('%Y-%m-%dT%T')}" %>

<%= bootstrap_form_for(@completed_routine) do |crf| %>
  <%= crf.hidden_field :name %>
  <%= crf.hidden_field :routine_id %>
  <%= crf.hidden_field :person_id %>
  <%= crf.fields_for(:completed_expectations, class: :expectations) do |cef| %>
    <div class="row">
      <div class="col">
        <%= cef.object.description %>
        <%= cef.hidden_field :description %>
      </div>
      <div class="col">
        <%= cef.form_group(:observation, layout: :inline) do %>
        <%= cef.radio_button :observation, "Y", label_class: "mr-2" %>
        <%= cef.radio_button :observation, "N", label_class: "mr-2" %>
        <%= cef.radio_button :observation, "N/A", label: "N/A", label_class: "mr-2" %>
        <% end %>
      </div>
      <div class="col">
        <%= cef.text_field(:comment, placeholder: "Comment", hide_label: true) %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= crf.text_field(:category_name,
        placeholder: "Category",
        id: "completed_routine_category_name",
        data: { autocomplete_source: RoutineCategory.order(:name).map(&:name) }) %>
    </div>
    <div class="col">
      <% @completed_routine.routine_done_at ||= Time.zone.now %>
      <%# NOTE: According to docs I shouldn't have to give my own format, but I do. %>
      <%= crf.datetime_field :routine_done_at, value: crf.object.routine_done_at.strftime("%Y-%m-%dT%R") %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="input_fill_rest_of_line">
        <%= crf.text_field(:comment, placeholder: "Routine comment") %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= crf.text_field :recorded_by, value: crf.object.recorded_by.name, disabled: true, label: "Recorded by" %>
    </div>
    <div class="col">
      <%= crf.text_field :updated_by, value: current_user.name, disabled: true, label: "Updated by" %>
    </div>
  </div>
  <p>
    <%= yield :cancel_button if content_for? :cancel_button %>
    <%= crf.submit 'Save' %>
  </p>
<% end %>
