<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<%= validation_messages @completed_routine %>

<div class="container">
  <div id="completed_routine">
    <div id="completed_routine_header">
      <h1><%= "#{@completed_routine.name} -- #{@completed_routine.person.short_name}" %></h1>
    </div>
    <%= content_tag_for(:div, @completed_routine, class: "content") do %>
      <%= form_for(@completed_routine) do |crf| %>
        <%= crf.hidden_field :name %>
        <%= crf.hidden_field :routine_id %>
        <%= crf.hidden_field :person_id %>
        <table>
          <thead>
            <tr>
              <th>Expectation</th><th>Yes</th><th>No</th><th>N/A</th><th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <%= crf.fields_for :completed_expectations do |cef| %>
              <tr>
                <td>
                  <%= cef.label(:description, cef.object.description) %>
                  <%= cef.hidden_field :description %>
                </td>
                <td style="text-align: center;"><%= cef.radio_button :observation, "Y" %></td>
                <td style="text-align: center;"><%= cef.radio_button :observation, "N"  %></td>
                <td style="text-align: center;"><%= cef.radio_button :observation, "N/A"  %></td>
                <td><%= cef.text_field(:comment, placeholder: "Comment", class: "grow_child_to_parent") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p>
          <%= crf.label(:category_name, 'Category: ') %>
          <%= crf.text_field(:category_name, 
            placeholder: "Category", 
            id: "completed_routine_category_name", 
            data: { autocomplete_source: RoutineCategory.order(:name).map(&:name) }) %>
        </p>
        <p><%= crf.label 'Comment: ' %><%= crf.text_field(:comment, placeholder: "Comment", class: "grow_child_to_parent") %></p>
        <p>
          <% routine_done_at = crf.object.routine_done_at || Time.current %>
          Routine Date: 
            <%= text_field_tag "#{crf.object.class.to_s.underscore}[routine_done_at_date]", routine_done_at.to_date.to_s, class: "datepicker", size: 8 %>
          Routine Time: 
            <%= text_field_tag "#{crf.object.class.to_s.underscore}[routine_done_at_time]", routine_done_at.to_s(:time), class: "timepicker", size: 8 %>
        </p>
        <p>
          <%= crf.label :recorded_by, "Recorded by: " %>
          <%= crf.text_field :recorded_by, value: crf.object.recorded_by.name, disabled: true %>
          <%= crf.label :updated_by, "Updated by: " %>
          <%= crf.text_field :updated_by, value: current_user.name, disabled: true %>
        </p>
        <!-- The following button trick doesn't work for <= IE8 -->
        <%= link_to '<button type="button">Cancel</button>'.html_safe, :back %>
        <%= crf.submit 'Save' %>
      <% end %>
    <% end %>
  </div>
</div>
