<div class="completed_routines mt-2">
  <h4>Recently Completed Routines</h4>
  <% if 0 < @completed_routines.count %>
    <table class="table">
      <thead>
        <th class="text-left">Routine</th>
        <th class="text-center">Clean?</th>
        <th class="text-right">Date</th>
      </thead>
      <tbody>
      <% @completed_routines.each do |cr| %>
        <tr class="<%= cr.is_clean? ? "clean_routine" : "dirty_routine" %>">
          <td>
            <%= link_to(cr.name, edit_completed_routine_path(cr)) %>
          </td>
          <td class="text-center"><%= cr.is_clean?.humanize %></td>
          <td class="text-right"><%= cr.routine_done_at.to_s(:humanized_ago) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @completed_routines %>
  <% else %>
    <p>No recently completed routines.</p>
  <% end %>
</div>
