<div class="completed_routines mt-2">
  <h4>Recently Completed Routines</h4>
  <% if 0 < @completed_routines.count %>
    <table data-role="table" data-mode="reflow" class="ui-responsive">
      <thead>
        <th data-priority="1">Routine</th><th>Clean?</th><th data-priority="2">Date</th>
      </thead>
      <tbody>
      <% @completed_routines.each do |cr| %>
        <tr class="<%= cr.is_clean? ? "clean_routine" : "dirty_routine" %>">
          <td>
            <%= link_to(cr.name,
              edit_completed_routine_path(cr),
              data: {role: "button", icon: "edit", iconpos: "right", ajax: false}) %>
          </td>
          <td style="text-align: center;"><%= cr.is_clean?.humanize %></td>
          <td style="text-align: right;"><%= cr.routine_done_at.to_s(:humanized_ago) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @completed_routines %>
  <% else %>
    <p>No recently completed routines.</p>
  <% end %>
</div>
