<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="completed_routines">
  <div id="patient-name" class="container">
    <h1>Recently Completed Routines for <%= @person.name %></h1>
    <div class="completed_routines content">
      <table>
        <thead>
          <th>Routine</th><th>Clean?</th><th>Date</th><th>Expectations</th>
        </thead>
        <tbody>
        <%= content_tag_for(:tr, @person.completed_routines.order(created_at: :desc)) do |cr| %>
          <td><%= cr.name %></td>
          <td style="text-align: center;"><%= cr.is_clean?.humanize %></td>
          <td style="text-align: right;"><%= cr.created_at.to_s(:humanized_ago) %></td> 
          <td>
            <table class="grow_child_to_parent">
              <%= content_tag_for(:tr, cr.completed_expectations) do |ce| %>
                <td><%= ce.description %></td>
                <td><%= ce.observation %></td>
              <% end %>
            </table>
          </td>
        <% end %>
        </tbody>
      </table>
      <!-- The following button trick doesn't work for <= IE8 -->
      <p><%= link_to '<button type="button">Back</button>'.html_safe, :back %></p>
    </div>
  </div>
</div>
<!--TODO Dry it up.
