<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="completed_routine_header">
  <h1><%= "#{@completed_routine.name} -- #{@completed_routine.person.name}" %></h1>
</div>
<% if @completed_routine.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@completed_routine.errors.count, "error") %> prevented this routine from being saved:</h2>
    <ul>
    <% @completed_routine.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= content_tag_for(:div, @completed_routine) do %>
  <%= form_for @completed_routine do | crf | %>
    <%= crf.hidden_field :name %>
    <%= crf.hidden_field :routine_id %>
    <%= crf.hidden_field :person_id %>
    <p><%= crf.label 'Comments:' %><%= crf.text_field :comment %></p>
    <%= content_tag_for(:table, @completed_routine) do %>
      <thead>
        <tr>
          <th>Expectation</th><th>Yes</th><th>No</th><th>N/A</th><th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <%= crf.fields_for :completed_expectations do |cef| %>
          <fieldset>
          <%= cef.hidden_field :description %>
          <tr>
            <td><%= cef.label :description %></td>
            <td><%= cef.radio_button :observation, "Y" %></td>
            <td><%= cef.radio_button :observation, "N"  %></td>
            <td><%= cef.radio_button :observation, "N/A"  %></td>
            <td><%= cef.text_field :comment %></td>
          </tr>
          </fieldset>
        <% end %>
      </tbody>
    <% end %>
    <%= crf.submit %>
  <% end %>
<% end %>

