<%= validation_messages @goal %>

<%# The next two are to handle mobile devices. Sure wish I had my head around this better. %>
<%= yield :heading_buttons if content_for? :heading_buttons %>
<%= yield :flashes if content_for? :flashes %>

<%= form_tag(:awards) do %>
  <%= hidden_field_tag :goal_id, @goal.id %>
  <h1 class="text-center">Congratulations!</h1>
  <p>You've earned <%= @goal.description %></p>
  <div class="ui-field-contain">
    <%= label_tag "number_of_rewards", "Rewards: " %>
    <%= number_field_tag "number_of_rewards", "1", {type: :number, min: 1, max: @goal.pending, size: 2} %>
    (Enter 1 to <%= @goal.pending %>)
  </div>
  <p>
    <%= yield :cancel_button if content_for? :cancel_button %>
    <%= submit_tag "Give Reward!", class: "btn btn-secondary" %>
  </p>
<% end %>
