<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<%= validation_messages @goal %>

<div role="main" class="content" data-role="page">

  <%# The next two are to handle mobile devices. Sure wish I had my head around this better. %>
  <%= yield :heading_buttons if content_for? :heading_buttons %>
  <%= yield :flashes if content_for? :flashes %>
  
  <%= form_tag(:awards) do %>
    <%= hidden_field_tag :goal_id, @goal.id %>
    <h1>Congratulations!</h1>
    <p>You've earned <%= @goal.description %></p>
    <div class="ui-field-contain">
      <%= label_tag "number_of_rewards", "Rewards: " %>
      <%= number_field_tag "number_of_rewards", "1", {type: :number, min: 1, max: @goal.pending, size: 2} %>
      (Enter 1 to <%= @goal.pending %>) 
    </div>
    <p>
      <%= yield :cancel_button if content_for? :cancel_button %>
      <%= submit_tag "Give Reward!" %>
    </p>
  <% end %>
  
</div>

