<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<div id="new_award" data-role="page">
  <div  data-role="header">
    <%= link_to "", :back, "data-role" => "button", "data-rel" => "back", "data-icon" => "back", "data-iconpos" => "notext", "data-ajax" => "false" %>
    <h1><%= @goal.name %></h1>
  </div>

  <div role="main" class="ui-content">
    <%= form_tag(:awards) do %>
      <%= hidden_field_tag :goal_id, @goal.id %>
      <h1 style="text-align: center;">Congratulations!</h1>
      <p>You've earned <%= @goal.description %></p>
      <div class="ui-field-contain" data-type="horizontal">
        <%= label_tag "number_of_rewards", "Rewards (1 to #{@goal.pending})" %>
        <%= number_field_tag "number_of_rewards", "1", min: 1, max: @goal.pending, type: "number" %>
      </div>
      <p>
        <%= submit_tag "Give Reward!" %>
      </p>
    <% end %>
  </div>
</div>
