<%= validation_messages @goal %>

<%= bootstrap_form_for shallow_args(@goal.person, @goal) do |rf| %>
  <%= rf.hidden_field :person_id %>
  <p>
    <%= rf.text_field :name, placeholder: "Goal Name", label: "Goal Name" %>
  </p>
  <p class="vertical_align_children">
    <%= rf.text_area :description, placeholder: "Description", label: "Description" %>
  </p>
  <p>
    <%= rf.text_field :target, size: 5, type: "number", value: 1, min: 1, placeholder: "Target", label: "Target" %>
  </p>

  <p>
    <%= yield :cancel_button if content_for? :cancel_button %>
    <%= rf.submit 'Save' %>
  </p>
<% end %>
