<%= validation_messages @goal %>

<%= bootstrap_form_for [@person, @goal], local: true do |rf| %>
  <%= rf.hidden_field :person_id %>
  <p>
    <%= rf.text_field :name, placeholder: "Goal Name", label: "Goal Name" %>
  </p>
  <p class="vertical_align_children">
    <%= rf.text_area :description, placeholder: "Description", label: "Description" %>
  </p>
  <p>
    <%= rf.text_field :target,
                      size: 5,
                      type: "number",
                      value: @goal.target || 1,
                      min: 1,
                      placeholder: "Target",
                      help: "The number of clean routines the subject has to achieve to receive a reward." %>
  </p>

  <p>
    <%= link_to("Cancel", where_we_came_from_url(person_path(@goal.person)), class: "btn btn-secondary") %>
    <%= rf.submit 'Save' %>
  </p>
<% end %>
