<!-- TODO: Is this file still necessary? -->
<div class="pending_rewards mt-2">
  <h4>Goals and Rewards</h4>
  <table>
    <% if 0 < @person.goals.count %>
      <thead>
        <th>Name</th>
        <th style="width:6em;">Target</th>
        <th style="width:6em;">Eligible Rewards</th>
        <th colspan="2">Actions</th>
      </thead>
      <tbody>
        <% @person.goals.order(:name).each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td style="text-align: right;"><%= g.target.to_s %></td>
          <td style="text-align: right;"><%= g.pending %></td>
          <td>
            <%= link_to("Edit Goal",
                        edit_goal_path(g),
                        data: {role: "button", icon: "edit", iconpos: "notext", ajax: false}) %>
          </td>
          <td style="text-align: right;">
            <%= link_to("Give Reward",
                        new_award_path(goal_id: g.id),
                        data: {role: "button", icon: "plus", iconpos: "notext", ajax: false}) if g.pending > 0 %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tbody>
        <tr>
          <td>No goals assigned.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
