<!-- The trick seems to be, if you want colour that goes all the way across the viewport, just use a div, not a container. Doh! -->
<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center" id="test-top-menu">
  <ul class="navbar-nav">
    <li class="nav-item">
      <% if current_user %>
        <% if current_user.subjects.count == 1 %>
          <%= link_to person_path(current_user.subjects.first), class: "nav-link" do %>
            <%= octicon "home", "aria-label": "Home", class: "octicon-light" %>
            <span class="d-none d-sm-inline-block">Home</span>
          <% end %>
        <% end %>
        <%= link_to home_user_path(current_user), class: "nav-link" do %>
          <%= octicon "organization", "aria-label": "Teams", class: "octicon-light" %>
          <span class="d-none d-sm-inline-block">Teams</span>
        <% end %>
      <% end %>
    </li>
    <% if current_user %>
      <li class="nav-item">
        <%= link_to messages_path(current_user), class: "nav-link" do %>
          <%= octicon "bell", "aria-label": "Notifications", class: "octicon-light" %>
          <span class="d-none d-sm-inline-block">Notifications</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to edit_user_path(current_user), class: "nav-link" do %>
          <%= octicon "gear", "aria-label": "Profile", class: "octicon-light" %>
          <span class="d-none d-sm-inline-block">Profile</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to signout_path, class: "nav-link" do %>
          <%= octicon "sign-out", "aria-label": "Sign out", class: "octicon-light" %>
          <span class="d-none d-sm-inline-block">Sign out</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
