<div class="container-fluid bg-dark">
  <% if current_user %>
    <div id="top_menu" class="d-flex">
      <div class="mr-auto">
        <% if current_user.subjects.count == 1 %>
          <% unless person_path(current_user.subjects.first) == request.path %>
            <%= link_to "Home", person_path(current_user.subjects.first) %>
          <% end %>
        <% end %>
        <% unless home_user_path(current_user) == request.path %>
          <%= link_to "Teams", home_user_path(current_user) %>
        <% end %>
      </div>

      <div class="ml-auto">
        Signed in as
        <%= current_user.name %>. |

        <%= link_to "Profile", edit_user_path(current_user) %>
        |

        <%= link_to "Sign out", signout_path %>
      </div>
    </div>
  <% end %>
</div>
