<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<%# FROM http://railsapps.github.io/rails-default-application-layout.html %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title || "Positive Behaviour Support" %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script>
      $(function () {
        $(".datepicker").datepicker({
          dateFormat: "yy-mm-dd"
          })
        });
    <%= yield(:javascript) %>
    </script>
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <header>
      <%= content_for?(:navigation) ? yield(:navigation) : render('layouts/navigation') %>
    </header>
    <main role="main">
      <div class="centre_in_browser">
        <%= render 'layouts/flashes' %>
        <%= yield %>
      </div>
      <div class="clear">
      </div>
    </main>
    <footer>
      <%= content_for?(:bottom_navigation) ? yield(:bottom_navigation) : render('layouts/bottom_navigation') %>
    </footer>
  </body>
</html>
