<!DOCTYPE html>
<html>
  <%= render "head" %>
  <body class="<%= controller_name %> <%= action_name %> <%= controller_name %>_<%= action_name %>">
    <header class="mb-4">
      <%# The only place :navigation is set is in views/welcome/index.html.erb. %>
        <%= content_for?(:navigation) ? yield(:navigation) : render('menu', formats: ["html"]) %>
      </header>
      <div class="container">
        <div class="row justify-content-around">
          <div class="col-12 col-md-8 col-lg-6">
            <%= yield :flashes if content_for? :flashes %>
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="mb-5"></div>
      <footer>
        <%= render('bottom_navigation') %>
      </footer>
    </body>
  </html>
