<!DOCTYPE html>
<html>
<head>
  <title>Pbs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style><%= yield :stylesheets %></style>
</head>
<body>
<div id="top-menu">
  <% if current_user %>
    Signed in as <%= current_user.name %>.
    <%= link_to "Sign out", signout_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
