<%# This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
Copyright (c) Jade Systems Inc. 2013, 2014
%>
<!DOCTYPE html>
<html>
  <head>
    <title>Positive Behaviour Support</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style><%= yield :stylesheets %></style>
  </head>
  <body>
    <div id="top_menu">
      <div class="centre_in_browser">
        <% if current_user %>
          Signed in as <%= current_user.name %>.
          <%= link_to "Sign out", signout_path %>
        <% end %>
      </div>
    </div>
    <div id="content_container">
	    <div id="message_area">
		    <% if notice %>
			    <pre class="ui-state-highlight"><%= notice %></pre>
		    <% end %>
		    <% if alert %>
			    <pre class="ui-state-error"><%= alert %></pre>
		    <% end %>
	    </div>
    
      <%= yield %>
      
    </div>
  </body>
</html>
